fastapi[standard]==0.112.0
alembic==1.13.2
email_validator==2.2.0
emails==0.6
gunicorn==22.0.0
httpx==0.27.0
Jinja2==3.1.4
psycopg==3.2.1
psycopg-binary==3.2.1
pydantic-settings==2.4.0
PyJWT==2.9.0
sentry-sdk==2.12.0
sqlmodel==0.0.21
passlib== 1.7.4
tenacity==9.0.0
uvicorn==0.30.5

coverage==7.6.1
pre-commit==3.8.0
pytest==8.3.2
ruff==0.5.6
